<div class="navbar" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <i class="fa-solid fa-film"></i>
  <div class="top-right">
    <p>My lists</p>
    <p>New list</p>
  </div>
</div>

<div class="banner">
  <% if @list.photo.present?%>
    <%= cl_image_tag @list.photo.key, crop: :fill, style:"object-position: 0 23%;" %>
      <h1 class="centered card text-dark bg-light p-2"><%= @list.name.upcase %></h1>
  <% else %>
    <img src="https://res.cloudinary.com/dqpgsz5ed/image/upload/v1668786243/empty-cinema_rfr3tg.jpg" alt="cinema background pic">
    <h1 class="centered card text-dark bg-light p-2"><%= @list.name.upcase %></h1>
    </div>
  <% end %>
</div>

<div class="text-above-bookmarks">
  <%= link_to lists_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-6 list">
        <div class="card movie">
          <h2><%= bookmark.movie.title %></h2>
          <p id="comment"><%= bookmark.comment %></p>
          <p class="link bottom-right"><%= link_to "Delete bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-danger" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="form">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.button :submit %>
  <% end %>
</div>
